/*
    FILENAME: site.css
    AUTHOR: Eric Thomas D. Cabigting/ericcabigting@outlook.com
    CREATED DATE: 2016-08-03
    VERSION: v1.00
*/
body {
  /*background-color: #2f5770;*/
  background-image: url('../img/layout/dps-bg.jpg');
}

.divMainBody {
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.divTopHead {
  max-width: 100%;
  min-width: 320px;
  height: 50px;
}

.btn-top-head {
  border-radius: 0px;
  min-height: 33px;
  /*width: 97px;*/
  margin-top: 10px;
  background-image: none;
  background-color: #f0ad4e;
  margin-right: 10px;
  color: #000;
}

.glyp-margin {
  margin-right: 5px;
}

.btn-top-head {
  background-color: none;
}

.divMidHead {
  max-width: 100%;
  min-height: 150px;
  background-image: url('../img/layout/headerbackground-shadow.png');
  background-position: bottom;
  background-repeat: repeat-x;
  margin-top: -40px;
  /*box-shadow: 0px 100px 100px 45px #0d1f2d;*/
}

.mainLogo {
  margin: auto;
  padding: 8px;
  max-width: 140px;
  min-height: 140px;
}

h1,h3,h4 {
  font-family: 'Engravers MT';
}

.divBottomHead {
  margin-top: -10px;
  max-width: 100%;
}

.imgCampusBanner {
  width: 100%;
  border-radius: 10px;
  border: 6px solid #fff;
  /*box-shadow: 0px 40px 70px 20px #000;*/
}

/*fucking navbar css starts here*/
.divNavBarContainer {
  z-index: 10;
  margin-top: -10px;
  position: relative;
  /*box-shadow: 0px 10px 25px 5px #000;*/
}

.fuckingNavbarContainer {
  background-color:#e6a133;
}

.navbar-default {
  background-color: transparent; !important
  z-index: 10000000;
}

.navbar-toggle:before {
    content:"AL DHAFRA PRIVATE SCHOOL";
    position:absolute;
    font-size: 21px;
    line-height: 18px;
    top:0px;
    left:-353px;
    color:#000;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    font-family: 'Engravers MT';
    /*background-color: #e6a133;*/
    border-width: 0px;
    border-radius: 0px;
    background-image: none;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li  {
  border-right:2px solid #fff;
  text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li:last-child  {
  border:none;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #000;
    background-color: rgba(230, 161, 51, 1);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #000;
    background-color: rgba(245, 206, 144, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: rgba(245, 206, 144, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fff;
    border-width: 2px;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #e6a133;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

ul.dropdown-menu {
  text-align: center;
  border-radius: 0px;
  background-color: rgba(230, 161, 51, 1);
}

ul.dropdown-menu > li {
  text-align: center;
  border-radius: 0px;
  background-color: rgba(230, 161, 51, 1);
  color:#000;
}
/*fucking navbar css ENDS here*/

@media (min-width: 1000px;) {

}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #f3c886;
  }
}/*fucking navbar css ends here*/

/*main content page*/
.sideBarB {
  padding-top: 25px;

}

.prima-Div {
  padding-top: 25px;
  text-align: justify;
  padding-right: 15px;
  border-right: 1px dotted rgba(230, 161, 51, 1);
}

table {
    width: 100%;
    margin-bottom: 1.5em
}

table thead {
    color: #fff;
    background-color: rgba(230, 161, 51, 1);
}

table thead th {
    text-transform: uppercase
}

table td,
table th {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

table tbody tr:hover {
    background-color: #f8f8f8
}

table.ta-left td,
table.ta-left th {
    text-align: left
}

table.ta-right td,
table.ta-right th {
    text-align: right
}


.divMainContentBody {
  width:100%;
  min-height: 200px;
  margin-top:-20px;
  position: relative;
  color:#000;
  background-color: #fff;
}

.divMainContentBody > a  {
  color:#000;
}

#dps_carousel {
  background-color: #0c1c28;
}
/*end main content page*/
/*home page css */
.divMsgPrincipal {
  background-color: #fff;
  color:#000;
  text-align: justify;
}

.hrForBox1 {
  border-width: 5px;
  border-color: #000;
  width: 107%;
  margin-left: -16px;
}

.divRecentEvents {
  background-color: #d2973b;
  color:#000;
  height: 100%;
}

.hrForBox2 {
  border-width: 5px;
  border-color: #fff;
  width:110%;
  margin-left: -15px;
}

.divMainFooter {
  width:100%;
  min-height: 150px;
  background-color: transparent;
  color: #fff;
  font-family: 'Engravers MT';
  font-style: normal;
}

.ulForFooter {
  font-size: 12px;
  list-style: none;
  margin-left: -40px;
}

.ulForFooter > li {
  font-style: normal;
  font-weight: 100;
}

.footerIcons {
}

.footerIconsCont {
  width: 100%;
}

/*end home page*/
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .headSchoolName {
    background-color: #0d1f2d;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /*.headSchoolName {
    background-color: #0d1f2d;
  }*/
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
